
@model Patient
<h1>Supprimer Mr @Model.Nom_p ?</h1>
            <form asp-action="DeleteConfirmed" method="post">
                <input asp-for="PatientId" type="hidden" />
                <div class="form-group">
                    <label asp-for="Prenom_p">Prénom</label> <input asp-for="Prenom_p" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Nom_p">Nom</label> <input asp-for="Nom_p" class="form-control" />
                </div>
                <input type="submit" value="Oui, je veux supprimer Mr @Model.Nom_p" class="btn btn-danger" />
                <input type="button" onclick="history.back()" value="Non, revenir en arrière." class="btn btn-secondary" />
            </form>