@model Allergie

<h1>Éditer Allergie</h1>

<form asp-action="Edit" asp-asp-controller="Allergie"  method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AllergieId" />

    <div class="form-group">
        <label asp-for="Libelle_al" class="control-label"></label>
        <input asp-for="Libelle_al" class="form-control" />
        <span asp-validation-for="Libelle_al" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

