@model MedicamentViewModel

<h2>Detail du Médicament</h2>
<br/>
<div class="form-group">
    <label asp-for="Medicament.Libelle_med" class="control-label"></label>
    <div class="text-body-secondary">@Html.DisplayFor(model => model.Medicament.Libelle_med)</div>
</div>
<br/>
<div class="form-group">
    <label asp-for="Medicament.Contr_indication" class="control-label"></label>
   <div class="text-body-secondary">@Html.DisplayFor(model => model.Medicament.Contr_indication)</div>
</div>
<br/>
<h4>Allergies</h3>
    <div class="form-group">
        <ul>
            @foreach (var allergie in Model.Allergies)
            {
                <li>@allergie.Libelle_al</li>
            }
        </ul>
    </div>
    <br/>
    <h4>Antecedents</h3>
        <div class="form-group">
            <ul>
                @foreach (var antecedent in Model.Antecedents)
                {
                    <li>@antecedent.Libelle_a</li>
                }
            </ul>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
        </div>